In [3]:
print("first", end=''); print('second')

firstsecond

In [1]:
print('5/3')

5/3

In [6]:
삼성전자 = 50000

총평가금액 = 삼성전자 *10

print(총평가금액)

500000

In [ ]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))


#<문제>삼성전자의 일부 투자정보를 보고 변수를 사용해서 시가총액
#현재가, PER등을 바인딩해보세요. 

#왜 type를 사용해야 하는건지?

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [15]:
#13 문자열 출력 
#변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.
# 두 변수를 이용하여 아래와 같이 출력해보세요.
# 실행 예:
# hello! python

# ; s = '"hello"'
# ; t = '"python"'

# ; print(s+'!', t)

s = "hello"
t = "python"
print(s+"!", t)

hello! python

In [16]:
vlaue = 2 + 2 *3 
print(vlaue)

8

In [18]:
#type()함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩 되어
#있어 type함수가 int(정수)형임을 알려줍니다.

a = 128
print(type(a))

b = '132'
print(type(b))

<class 'int'>
<class 'str'>

In [ ]:
#문자열 '720'를 정수형으로 변환해보세요

num_str = '720' #형병환

num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [24]:
#정수를 문자열 100으로 변환 

num = 100

number = str(num)
print(number, type(number))

100 <class 'str'>

In [25]:
#문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

문자열 = "15.79"

변환 = float(문자열)
print(변환,type(변환))

15.79 <class 'float'>

In [30]:
# year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 
# 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2020"

print(int(year)-1)
print(int(year)+2)
print(int(year)+5)

2019
2022
2025

In [35]:
# 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 
# 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

air = 48584

총금액 = air*36

print(총금액)

1749024

In [ ]:
#letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

letters = 'python'

print(letters[0], letters[2])

#문자열에서 한 글자를 가져오는 것은 인덱싱

p h

In [ ]:
#자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

license_plate = "24가 2210"

print(license_plate[4::])

#4부터 시작을 해도 -4부터 시작을 해도 도출값이 같음
#뒤에서 4자리만 출력하니깐 음수값 넣어서 꺼꾸리

2210

In [47]:
#아래의 문자열에서 '홀' 만 출력하세요.

string = "홀짝홀짝홀짝"

print(string[0::2])

홀홀홀

In [ ]:
#문자열을 거꾸로 뒤집어 출력하세요.
string = "PYTHON"
print(string[::-1])

#반복값? 맨 끝에 '-1' 입력

NOHTYP

In [ ]:
#아래의 전화번호에서 하이픈('-')을 제거하고 출력

phone_number = "010-1111-2222"

#replace 메서드 사용하여 문자열 일부를 치환가능
#문자열은 수정할 수 없는 자료형 -> 기존문자열을 치환하여 새로운 문자열 replace
phone_number1 = phone_number.replace("-","")
#replace() 메소드 설명 
#string.replace(old, new[, count])
#   old: 치환하려는 문자열 (찾을 문자열).
#   new: 새로운 문자열 (대체할 문자열).
#   count: (선택 사항) 치환할 최대 횟수. 생략 시 모든 일치 항목이 치환됩니다. 
print(phone_number1)

01011112222

In [ ]:
# url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

url = "http://sharebook.kr"

print(url[-2::])

url_split = url.split('.')
print(url_split[-1])

kr
kr

In [58]:
# 아래 코드의 실행 결과를 예상해보세요.

lang = 'python'
lang[0] = 'p'
print(lang)

TypeError: 'str' object does not support item assignment

In [ ]:
# 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

string = 'abcdfe2a354a32a'
string1 = string.replace('a','A') #replace('찾을 값','변경 값')
print(string1)

Abcdfe2A354A32A

In [ ]:
# 아래 코드의 실행 결과를 예상해보세요.

string = 'abcd'
string.replace('b', 'B')
print(string)

#원본을 print 해서 원본값이 출력된듯

abcd

In [ ]:
# 문자열 합치기 /아래 코드의 실행 결과를 예상해보세요.
a = '3'
b = '4'
print(a + b)
. 
#예상 3+4 (오답) -> 두 문자열에 대해 덧셈 기호는 문자열의 연결을 의미함

34

In [ ]:
# 화면에 '-'를 80개 출력하세요.
print('-'*80)

--------------------------------------------------------------------------------

In [68]:
# 변수에 다음과 같은 문자열이 바인딩되어 있습니다.
t1 = 'python'
t2 = 'java'

# 변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.
# python java python java python java python java

t3 = t1 +" " + t2 +" "
print((t3)*4)

python java python java python java python java

In [78]:
# 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

# 이름: 김민수 나이: 10
# 이름: 이철희 나이: 13

# print('이름:' %s, '나이:'%f %(name1, age1))